@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  @apply bg-background text-white;
}

.glow-button {
  @apply text-white font-bold py-2 px-4 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105;
}

.glow-button-green {
  @apply bg-accent shadow-lg shadow-accent/50;
}

.glow-button-red {
  @apply bg-red-600 shadow-lg shadow-red-600/50;
}

.glow-button-dark {
  @apply bg-primary text-white shadow-lg shadow-primary/50;
}
